{% extends "layout.html" %}

{% block title %}
About Josh
{% endblock %}
{% block main %}
<div class="banner">
    <h3 class="about-title">/About me..</h3>
</div>
<div class="big-container">
    <div class="about-container">
        <p class="about-content">
            I dove headfirst into the coding world in September of 2023 with Tech901, and I never looked back. I very quickly realized that this world 
            was my home. I took on any challenge I could while in the course and hungered for more. My Twitter(or "X" I guess) feed because software devs,
            my Youtube feed became coding streamers. My reality became a while(True) loop. 
        </p>
        <p class="about-content"> 
            Though I may not have a ton of experience quite yet, I'm already positive that I will do some awesome things in the programming world. I'm interested in many different fields. 
            Some long-term personal goals that I have are:
        </p>
        <ul>
            <li>Code a Chess Game with a minimum grandmaster rated "AI" (Deep Blue I'm coming for you)</li>
            <li>Create a Linux distro of my own</li>
            <li>Create a breadboard computer, ideally using an old Apple II chip</li>
            <li>Create a website (CHECK!)</li>
            <li>Create my own terminal with my own preferences</li>
            <li>And of course, kick butt for a company</li>
        </ul>
        <p class="about-content">
            Just from this short list, I'm sure you can see my goals are very ambitious. I'm aware, but not daunted. They are also a decent combination of ripping away 
            layers of abstraction for my own understanding, as well as learning just how to use the tools that are available today. I'd like to do <i>insane</i>
             things as well as <strong>insane</strong> things. You know? In the meantime I will be working on bite-size goals. 
        </p>
        <p class="about-content">
            Though I would like to begin working somewhere as soon as possible, another goal is to create enough time in my life to go to college and learn more about
            some of this stuff <strong>in depth</strong>. You can track my random activities here on my blog, as I will may periodic updates when I do something that I personally
            think is cool. 
        </p>
    </div>


    <div class="about-container">
        <p>
            What I've currently worked with is really just the foundational things, but I will update this list as I learn more and more:
        </p>
        <ul>
            <li>C</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>A lot of Data Structures</li>
            <li>SQLite</li>
            <li>Flask (what this site runs on!)</li>
            <li>HTML, CSS (obviously)</li>
            <li>C#</li>
        </ul>
        <p>
            Here's a list of priority things for me to learn (a personal todo list):
            <ul>
                <li>React</li>
                <li>Angular</li>
                <li>Pygame</li>
                <li>REALLY learn Bash</li>
                <li>REALLY learn Git</li>
                <li>Get more comfortable with vim</li>
            </ul>
        </p>
        <p>
            And heres my links/contact info for anyone to check out:
            <ul>
                <li><a href="https://github.com/babybluesedans" target="blank">My Github</a></li>
                <li><a href="www.linkedin.com/in/joshtaylor3141" target="blank">My LinkedIn</a></li>
                <li>Email: joshua.taylor3141@gmail.com</li>
            </ul>
        </p>
    </div>
</div>

{% endblock %}