{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" placeholder="Create Username"
                name="username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" placeholder="Create Password" name="password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" placeholder="Confirm password" name="confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Create Account</button>
    </form>
{% endblock %}
